@model Porto.Models.ViewModelHome


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_NavbarLayout.cshtml";
}
<style>
    button {
        border: none;
        background-color: transparent;
        font-size: 1.1rem;
    }

    .edit {
        color: grey;
    }

    .delete {
        color: red;
    }
</style>
<div class="col-lg-12 mt-5">
    <div class="page-header d-flex justify-content-between">
        <h1 id="tables">Settings</h1>
        <a href="@Url.Action("Create")" style="margin-bottom:0.5rem"><button type="button" class="btn btn-primary">Create</button></a>
    </div>

    <div class="bs-component">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Photo</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Job</th>
                    <th scope="col">Previous Job</th>
                    <th scope="col">Education</th>
                    <th scope="col">About Text</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Marital</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Skype</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">     </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-secondary">
                    <td>@Model.Setting.Photo</td>
                    <td>@Model.Setting.FullName</td>
                    <td>@Model.Setting.Job</td>
                    <td>@Model.Setting.PrevJob</td>
                    <td>@Model.Setting.Education</td>
                    <td>@Model.Setting.AboutText</td>
                    <td>@Model.Setting.Birthday</td>
                    <td>@Model.Setting.Marital</td>
                    <td>@Model.Setting.Nationality</td>
                    <td>@Model.Setting.Skype</td>
                    <td>@Model.Setting.Phone</td>
                    <td>@Model.Setting.Email</td>
                    <td>
                        <a href="@Url.Action("Edit",new {Id = Model.Setting.Id })"><button class="edit"><i class="fas fa-edit"></i></button> </a>
                    <button class="delete"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete").click(function () {
             swal({
                title: "Are you sure?",
                text: "Once it is deleted,it can not be reverted.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "Setting/Delete",
                            type: "GET",
                            data: ({ Id: @Model.Setting.Id})
                        });
                        location.reload();

                    }
                });
        })

    });
</script>


